.header{
    display: flex;
    justify-content: center;
    font-size: 50px;

}
section> .img{
    padding-top: 20px;
    padding-left: 20px;
    width: 650px;
    height: 600px
    ;
}
.restaurant-category{
    padding-left: 20px;
    font-size: 15px;
}
.restaurant-name{
    padding-left: 20px;
    font-size: 40px;
}
.form{
    border: 2px solid black;
    border-radius: 30px;
    border-color: #f40;
}
.img1{
    padding-left: 20px;
    width:28px;
    height: 30px;
}
.restaurant-location1{
    padding-left: 59px;
}
.restaurant-detail-menu{
    width: 50%;
    float: right;
    line-height: 100px;

}
.restaurant-detail-menu > ul > li{
    list-style: none;
    display: inline;
    padding: 50px;
    background-color: #f40;
}
.restaurant-detail-menu{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}
.button{
    height: 40px;
    width: 120px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*탭 전체 스타일*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 0 auto;
  }
  
  /* 탭 스타일 */
  .tab_item {
    width: calc(100%/5);
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: white;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
    background-color: #f40;
  }
  .tab_item:hover {
    opacity: 0.75;
    cursor: pointer;
  }
  /*라디오 버튼 삭제*/
  input[name="tab_item"] {
    display: none;
  }
  
  /* 탭 컨텐츠 스타일 */
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
  
  /* 선택 된 탭 콘텐츠를 표시 */
  #menu:checked ~ #menu_content,
  #review:checked ~ #review_content,
  #picture:checked ~ #picture_content,
  #around:checked ~ #around_content,
  #information:checked ~ #information_content {
    display: block;
    
  }
  
  /* 선택된 탭 스타일 */
  .tabs input:checked + .tab_item {
    background-color: rgb(165, 44, 0);
    color: #fff;
  }
  .tab_item :current {
    background-color:white;
    color: #f40;
  }